@mixin flexRow {
  display: flex;
  flex-direction: row;
}
@mixin flexCol {
  display: flex;
  flex-direction: column;
}
@mixin flexCenterRow {
  @include flexRow;
  justify-content: center;
  align-items: center;
}
@mixin flexCenterCol {
  @include flexCol;
  justify-content: center;
  align-items: center;
}
@mixin flexCenterRowWrap {
  @include flexCenterRow;
  flex-flow: row wrap;
}

@mixin animation($name, $duration, $iteration_count) {
  -webkit-animation-name: $name;
  -moz-animation-name: $name;
  -o-animation-name: $name;
  animation-name: $name;
  -webkit-animation-duration: $duration;
  -moz-animation-duration: $duration;
  -o-animation-duration: $duration;
  animation-duration: $duration;
  -webkit-animation-iteration-count: $iteration_count;
  -moz-animation-iteration-count: $iteration_count;
  -o-animation-iteration-count: $iteration_count;
  animation-iteration-count: $iteration_count;
}

@mixin borderRadius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin transform($transform) {
  -webkit-transform: $transform;
  -moz-transform: $transform;
  -ms-transform: $transform;
  -o-transform: $transform;
  transform: $transform;
}

