#splash_page_container {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: scroll;
}
#splash_page_container #home_top, #splash_page_container #home_bottom {
  position: absolute;
  width: 100%;
  height: 50%;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#splash_page_container #home_bottom {
  z-index: 1;
  bottom: 0;
  background: #f9da90;
}
#splash_page_container #home_bottom .buttons {
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50%;
  position: relative;
}
#splash_page_container #home_bottom .buttons .appear_right {
  -webkit-animation-name: appear_right;
  -moz-animation-name: appear_right;
  -o-animation-name: appear_right;
  animation-name: appear_right;
  -webkit-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  -o-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  -o-animation-iteration-count: 1;
  animation-iteration-count: 1;
  right: 0;
}
#splash_page_container #home_bottom .buttons .appear_center {
  -webkit-animation-name: appear_center;
  -moz-animation-name: appear_center;
  -o-animation-name: appear_center;
  animation-name: appear_center;
  -webkit-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  -o-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  -o-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
#splash_page_container #home_bottom .buttons .appear_left {
  -webkit-animation-name: appear_left;
  -moz-animation-name: appear_left;
  -o-animation-name: appear_left;
  animation-name: appear_left;
  -webkit-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  -o-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  -o-animation-iteration-count: 1;
  animation-iteration-count: 1;
  left: 0;
}
#splash_page_container #home_bottom .buttons button {
  position: absolute;
  width: 30%;
  height: 50px;
  margin: 20px;
  background: #494949;
  border: none;
  color: #f9da90;
  letter-spacing: 2px;
  font-weight: 600;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
#splash_page_container #home_bottom .buttons button:hover {
  cursor: pointer;
}
#splash_page_container #home_bottom .buttons button:focus {
  outline: none;
}
#splash_page_container #home_bottom .buttons button:active {
  outline: none;
  -webkit-transform: translateY(1px);
  -moz-transform: translateY(1px);
  -ms-transform: translateY(1px);
  -o-transform: translateY(1px);
  transform: translateY(1px);
}
#splash_page_container #tsparticles {
  position: absolute;
  width: 100%;
  height: 50vh;
  z-index: 2;
}
#splash_page_container #home_top {
  background: transparent;
  -webkit-animation-name: splash_appear;
  -moz-animation-name: splash_appear;
  -o-animation-name: splash_appear;
  animation-name: splash_appear;
  -webkit-animation-duration: 0.3s;
  -moz-animation-duration: 0.3s;
  -o-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  -o-animation-iteration-count: 1;
  animation-iteration-count: 1;
  color: #f9da90;
  top: 0;
  position: relative;
  z-index: 1;
}
#splash_page_container #home_top .header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -150px;
}
#splash_page_container #home_top .header h1 {
  color: #f9da90;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 4px;
  -webkit-text-stroke-color: #f9da90;
  font-size: 5em;
  font-weight: 900;
  letter-spacing: 35px;
  text-align: center;
}
#splash_page_container #home_top .header h2 {
  font-size: 1.8em;
  font-weight: 400;
  letter-spacing: 2px;
  color: #f9da90;
  opacity: 0.2;
  text-align: center;
}
#splash_page_container #home_top .content {
  z-index: 3;
}
#splash_page_container #cover {
  background: #494949;
  position: absolute;
}

@keyframes splash_appear {
  from {
    top: 50%;
  }
  to {
    top: 0;
  }
}
@keyframes appear_right {
  from {
    right: -100%;
  }
  to {
    right: 0;
  }
}
@keyframes appear_center {
  from {
    top: 100%;
  }
  to {
    top: -20px;
  }
}
@keyframes appear_left {
  from {
    left: -100%;
  }
  to {
    left: 0;
  }
}
@media (min-width: 1501px) {
  #splash_page_container {
    margin: 0;
    padding: 0;
  }
  #splash_page_container #home_top {
    margin: 0;
    padding: 0;
  }
  #splash_page_container #home_top .content {
    width: 60vw;
  }
  #splash_page_container #home_top .content .content_wrapper {
    position: relative;
    padding: 0 50px;
    width: 100vw;
  }
  #splash_page_container #home_bottom .buttons {
    width: 60vw;
  }
}
@media (max-width: 1500px) {
  #splash_page_container {
    margin: 0;
    padding: 0;
  }
  #splash_page_container #home_top {
    margin: 0;
    padding: 0;
  }
  #splash_page_container #home_top .content {
    width: 90vw;
  }
  #splash_page_container #home_top .content .content_wrapper {
    position: relative;
    padding: 0 50px;
    width: 100vw;
  }
  #splash_page_container #home_bottom .buttons {
    width: 90vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  #splash_page_container #home_bottom .buttons button {
    margin: 0;
  }
  #splash_page_container #home_bottom .buttons .appear_center {
    -webkit-animation-name: appear_center_mobile;
    -moz-animation-name: appear_center_mobile;
    -o-animation-name: appear_center_mobile;
    animation-name: appear_center_mobile;
    -webkit-animation-duration: 0.5s;
    -moz-animation-duration: 0.5s;
    -o-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -o-animation-iteration-count: 1;
    animation-iteration-count: 1;
  }
}
@media (max-width: 500px) {
  #splash_page_container #tsparticles {
    height: 70vh;
    z-index: 1;
  }
  #splash_page_container #home_top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: flex-end;
  }
  #splash_page_container #home_top .header {
    margin-top: 0;
    position: absolute;
    top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #splash_page_container #home_top .header h1 {
    letter-spacing: 10px;
    text-align: center;
    font-size: 5em;
  }
  #splash_page_container #home_top .header h2 {
    font-size: 0.8em;
    text-align: center;
    opacity: 0.5;
    padding: 0 10px;
  }
  #splash_page_container #home_top .content {
    width: 90vw;
  }
  #splash_page_container #home_top .content .content_wrapper {
    position: relative;
    padding: 0 50px;
    width: 100vw;
  }
  #splash_page_container #home_top .content .content_wrapper .content_box {
    height: 75px;
  }
  #splash_page_container #home_top .content .content_wrapper .content_box h2 {
    margin: 0;
  }
  #splash_page_container #home_bottom {
    top: 70vh;
    height: 30vh;
  }
  #splash_page_container #home_bottom .buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  #splash_page_container #home_bottom .buttons .appear_center {
    -webkit-animation-name: appear_right;
    -moz-animation-name: appear_right;
    -o-animation-name: appear_right;
    animation-name: appear_right;
    -webkit-animation-duration: 0.5s;
    -moz-animation-duration: 0.5s;
    -o-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -o-animation-iteration-count: 1;
    animation-iteration-count: 1;
  }
  #splash_page_container #home_bottom .buttons .appear_right {
    -webkit-animation-name: appear_left;
    -moz-animation-name: appear_left;
    -o-animation-name: appear_left;
    animation-name: appear_left;
    -webkit-animation-duration: 0.5s;
    -moz-animation-duration: 0.5s;
    -o-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -o-animation-iteration-count: 1;
    animation-iteration-count: 1;
  }
  #splash_page_container #home_bottom .buttons button {
    margin: 10px 0;
    width: 100%;
    position: relative;
  }
}
@keyframes appear_center_mobile {
  from {
    top: 200%;
  }
  to {
    top: 0px;
  }
}

/*# sourceMappingURL=SHIG_DesktopHomeSplash_Style.css.map */
