@import "mixins";
@import "variables";
.wizard_step{
  @include flexCenterCol;
  //border: 1px solid red;
  .title {
    color: $orange_yellow;
    font-size: 1.5em;
    font-weight: 900;
    letter-spacing: 2px;
    height: 50px;
    top: 50px;
    @include flexCenterCol;
    //right: 100px;
    position: absolute;
    border-bottom: 2px solid $orange_yellow;
  }
  //width: 100%;
  height: 100%;
  #contact_form{
    width: 100%;
    height: auto;
    //border: 1px solid red;
    //position: absolute;
    //top: -50px;
    @include flexCenterRowWrap;
    align-content: center;
    .input_container_small{
      width: 30%;
      margin: 50px 2.5% 0 2.5%;
    }
    .input_container_medium, .input_container_large{
      width: 65%;
    }
    input[type="submit"] {
      display: none;
    }
    .react-date-picker__wrapper{
      border: none;
    }
    .date-picker{
      input{
        border: none;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .wizard_step{
    #popup_container{
      .popup_content {
        text-align: center;
        width: 70vw;
        height: 30vh;
        top: 25vh;
        .header{
          h1 {
            font-size: 1.2em;
          }
        }
        .message {
          p {
            font-size: 0.8em;
          }
        }
        .close_container{
          font-size: 0.7em;
        }
      }
    }
  }
}
