@import "mixins";
@import "variables";
#navbar_component{
  z-index: 10;
  //background: rgba(255,255,255,0.1);
  background: transparent;
  @include flexCenterRow;
  justify-content: flex-end;
  width: 100%;
  height: 50px;
  position: fixed;
  @include animation(navbar_appear, 0.5s, 1);
  top: 0;
  .navbar_link{
    @include flexCenterRow;
    width: 200px;
    height: 50px;
    a{
      border-bottom: 1px solid transparent;
      color: $orange_yellow;
      text-decoration: none;
      letter-spacing: 2px;
      font-size: 18px;
      padding: 5px;
      &:hover{
        border-bottom: 1px solid $orange_yellow;
      }
    }
    a[data-selected="true"] {
      border-bottom: 1px solid $orange_yellow;
    }
  }
  .nav_title{
    @include flexCenterCol;
    width: 200px;
    position: fixed;
    left: 10px;
    height: 50px;
    color: $orange_yellow;
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 500;
  }
}

@keyframes navbar_appear {
  from {
    visibility: hidden;
    top: 0;
    height: 50px;
    left: 100vw;
  }
  to{
    visibility: visible;
    top: 0;
    height: 50px;
    width: 100%;
    left: 0;
  }
}

#navbar_component_mobile{
  position: fixed;
  top: 0;
  @include flexCenterCol;
  z-index: 10;
  #fa_bars_menu{
    position: absolute;
    left: 10px;
    top: 10px;
    @include transform(scale(1.2));
    color: $orange_yellow;
    z-index: 10;
  }
  .navbar_links{
    @include animation(appear_navbar, 0.5s, 1);
    width: 100%;
    height: 100%;
    @include flexCenterCol;
    justify-content: center;
    @include transition(0.3s);
    background: $orange_yellow;
    z-index: 9;
    position: absolute;
    top: 0;
    left: 0;
    .navbar_link{
      width: 100%;
      height: 100px;
      @include flexCenterCol;
      a {
        text-decoration: none;
        color: $light_gray;
        font-size: 1.5em;
        letter-spacing: 5px;
        font-weight: bold;
      }
    }
  }
}

@media (max-width: 1400px) {
  #navbar_component{
    justify-content: center;
  }
  #navbar_component_mobile{
    height: 100%;
    width: 50%;
    #fa_bars_menu{
      position: absolute;
      left: 50px;
      top: 50px;
      @include transform(scale(2.5));
      color: $orange_yellow;
      z-index: 10;
    }
  }
}

@media (max-width: 1100px) {
  #navbar_component{
    .navbar_link{
      width: 175px;
    }
  }
  #navbar_component_mobile{
    height: 100%;
    width: 50%;
    #fa_bars_menu{
      position: absolute;
      left: 50px;
      top: 50px;
      @include transform(scale(2.5));
      color: $orange_yellow;
      z-index: 10;
    }
  }
}

@media (max-width: 600px) {
  #navbar_component_mobile{
    height: 100%;
    width: 100%;
    #fa_bars_menu{
      position: absolute;
      left: 10px;
      top: 10px;
      @include transform(scale(1.2));
      color: $orange_yellow;
      z-index: 10;
    }
  }
}

@keyframes appear_navbar {
  from {
    left: -100vw;
  }
  to {
    left: 0;
  }
}
