@import "mixins";
@import "variables";
#home_services_container{
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  overflow: scroll;
  #home_services_inner_container {
    background: $light_gray;
    position: absolute;
    top: 0;
    left: 0;
    height: 200vh;
    width: 100%;
    z-index: 10;
    @include flexCenterCol;
    justify-content: flex-start;
    .content {
      //@include animation(content_appear, 2s, 1);
      top: 10%;
      left: 10%;
      width: 80vw;
      background: green;
      height: 80%;
    }
    #rendered {
      visibility: visible;
    }
    #not_rendered{
      visibility: hidden;
    }

  }
}

@keyframes content_appear {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

