.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  bottom: 20px;
  position: absolute;
  width: 50%;
  height: 150px;
}
.content .content_wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}
.content .content_wrapper .content_box:nth-child(1) {
  -webkit-animation-name: appear_icons;
  -moz-animation-name: appear_icons;
  -o-animation-name: appear_icons;
  animation-name: appear_icons;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  -o-animation-iteration-count: 1;
  animation-iteration-count: 1;
  left: 0;
}
.content .content_wrapper .content_box:nth-child(2) {
  -webkit-animation-name: appear_icons;
  -moz-animation-name: appear_icons;
  -o-animation-name: appear_icons;
  animation-name: appear_icons;
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  -o-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  -o-animation-iteration-count: 1;
  animation-iteration-count: 1;
  left: calc(50% - 125px);
}
.content .content_wrapper .content_box:nth-child(3) {
  -webkit-animation-name: appear_icons;
  -moz-animation-name: appear_icons;
  -o-animation-name: appear_icons;
  animation-name: appear_icons;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -o-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  -o-animation-iteration-count: 1;
  animation-iteration-count: 1;
  left: calc(100% - 250px);
}
.content .content_wrapper .content_box {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: rgba(249, 218, 144, 0.75);
  color: #494949;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 150px;
  align-items: stretch;
  position: absolute;
  bottom: 0;
  z-index: 5;
}
.content .content_wrapper .content_box h2 {
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
}
.content .content_wrapper .content_box .icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}
.content .content_wrapper .content_box .icons .fa_icon {
  margin: 2px;
  color: #494949;
}
.content .content_wrapper .content_box .icons .people_arrows, .content .content_wrapper .content_box .icons .speech_bubble {
  color: rgba(73, 73, 73, 0.48);
}
.content .content_wrapper .content_box .icons .speech_bubble {
  position: absolute;
  top: -20px;
  left: 60px;
}

@keyframes appear_icons {
  from {
    bottom: -150px;
  }
  to {
    bottom: 0;
  }
}
@media (max-width: 1000px) {
  .content {
    width: 100vw;
  }
  .content .content_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .content .content_wrapper .content_box:nth-child(1) {
    left: 0;
  }
  .content .content_wrapper .content_box:nth-child(2) {
    left: 0;
  }
  .content .content_wrapper .content_box:nth-child(3) {
    left: 0;
  }
  .content .content_wrapper .content_box {
    margin: 0 5px;
    position: relative;
    height: 100px;
  }
  .content .content_wrapper .content_box h2 {
    font-size: 1em;
  }
  .content .content_wrapper .content_box .icons .fa_icon {
    -webkit-transform: 0.5;
    -moz-transform: 0.5;
    -ms-transform: 0.5;
    -o-transform: 0.5;
    transform: 0.5;
  }
}
@media (max-width: 500px) {
  .content {
    width: 100vw;
    position: relative;
    bottom: 0;
  }
  .content .content_wrapper {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: flex-start;
    width: 100vw;
  }
  .content .content_wrapper .content_box {
    background: #f9da90;
    position: absolute;
    width: 90vw;
    height: 100px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin: 5px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .content .content_wrapper .content_box .icons .fa_icon {
    -webkit-transform: 0.5;
    -moz-transform: 0.5;
    -ms-transform: 0.5;
    -o-transform: 0.5;
    transform: 0.5;
  }
  .content #left_appear_1 {
    position: absolute;
    left: 0;
    top: 30px;
    -webkit-animation-name: appear_right_mobile_1;
    -moz-animation-name: appear_right_mobile_1;
    -o-animation-name: appear_right_mobile_1;
    animation-name: appear_right_mobile_1;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -o-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -o-animation-iteration-count: 1;
    animation-iteration-count: 1;
  }
  .content #right_appear_1 {
    position: absolute;
    left: 0;
    top: 110px;
    -webkit-animation-name: appear_left_mobile;
    -moz-animation-name: appear_left_mobile;
    -o-animation-name: appear_left_mobile;
    animation-name: appear_left_mobile;
    -webkit-animation-duration: 2.5s;
    -moz-animation-duration: 2.5s;
    -o-animation-duration: 2.5s;
    animation-duration: 2.5s;
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -o-animation-iteration-count: 1;
    animation-iteration-count: 1;
  }
  .content #left_appear_2 {
    -webkit-animation-name: appear_right_mobile_2;
    -moz-animation-name: appear_right_mobile_2;
    -o-animation-name: appear_right_mobile_2;
    animation-name: appear_right_mobile_2;
    -webkit-animation-duration: 2.5s;
    -moz-animation-duration: 2.5s;
    -o-animation-duration: 2.5s;
    animation-duration: 2.5s;
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -o-animation-iteration-count: 1;
    animation-iteration-count: 1;
    top: 190px;
  }
}
@keyframes appear_right_mobile_1 {
  from {
    left: -100vw;
  }
  to {
    left: 0;
  }
}
@keyframes appear_right_mobile_2 {
  from {
    left: -100vw;
  }
  to {
    left: 0;
  }
}
@keyframes appear_left_mobile {
  from {
    left: 100vw;
  }
  to {
    left: 0;
  }
}

/*# sourceMappingURL=SHIG_Icons_Style.css.map */
