@import "mixins";
@import "variables";
#splash_page_container{
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: scroll;
  #home_top, #home_bottom{
    position: absolute;
    width: 100%;
    height: 50%;
    color: black;
    @include flexCenterCol;
  }

  #home_bottom{
    z-index: 1;
    bottom: 0;
    background: $orange_yellow;
    .buttons{
      height: 50px;
      @include flexCenterRow;
      width: 50%;
      position: relative;
      .appear_right {
        @include animation(appear_right, 0.5s, 1);
        right: 0;
      }
      .appear_center {
        @include animation(appear_center, 0.5s, 1);
      }
      .appear_left {
        @include animation(appear_left, 0.5s, 1);
        left: 0;
      }
      button{
        position: absolute;
        width: 30%;
        height: 50px;
        margin: 20px;
        background: $light_gray;
        border: none;
        color: $orange_yellow;
        letter-spacing: 2px;
        font-weight: 600;
        @include borderRadius(5px);
        &:hover{
          cursor: pointer;
        }
        &:focus{
          outline: none;
        }
        &:active{
          outline: none;
          @include transform(translateY(1px));
        }
      }
    }
  }
  #tsparticles{
    position: absolute;
    width: 100%;
    height: 50vh;
    z-index: 2;
  }
  #home_top {
    background: transparent;
    @include animation(splash_appear, 0.3s, 1);
    color: $orange_yellow;
    top: 0;
    position: relative;
    z-index: 1;
    .header {
      @include flexCenterCol;
      margin-top: -150px;
      h1 {
        color: $orange_yellow;
        -webkit-text-fill-color:transparent;
        -webkit-text-stroke-width: 4px;
        -webkit-text-stroke-color: $orange_yellow;
        font-size: 5em;
        font-weight: 900;
        letter-spacing: 35px;
        text-align: center;
      }
      h2{
        font-size: 1.8em;
        font-weight: 400;
        letter-spacing: 2px;
        color: $orange_yellow;
        opacity: .2;
        text-align: center;
      }
    }
    .content{
      z-index: 3;
    }
  }
  #cover{
    background: $light_gray;
    position: absolute;
  }
}

@keyframes splash_appear{
  from {
    //height: 0;
    top: 50%;
  }
  to {
    top: 0;
  }
}


@keyframes appear_right {
    from {
      right: -100%;
    }
    to {
      right: 0;
    }
}
@keyframes appear_center {
  from {
    top: 100%;
  }
  to {
    top: -20px;
  }

}
@keyframes appear_left {
  from {
    left: -100%;
  }
  to {
    left: 0;
  }

}

@media (min-width: 1501px) {
  #splash_page_container{
    margin: 0;
    padding: 0;
    #home_top{
      margin: 0;
      padding: 0;
      .content{
        width: 60vw;
        .content_wrapper{
          position: relative;
          padding: 0 50px;
          width: 100vw;
          .content_box{
            //width: 30%;
          }
        }
      }
    }
    #home_bottom{
      .buttons{
        width: 60vw;
      }
    }
  }
}

@media (max-width: 1500px) {
  #splash_page_container{
    margin: 0;
    padding: 0;
    #home_top{
      margin: 0;
      padding: 0;
      .content{
        width: 90vw;
        .content_wrapper{
          position: relative;
          padding: 0 50px;
          width: 100vw;
          .content_box{
            //width: 30%;
          }
        }
      }
    }
    #home_bottom{
      .buttons{
        width: 90vw;
        @include flexCenterRow;
        button{
          margin: 0;
        }
        .appear_center{
          @include animation(appear_center_mobile, 0.5s, 1);
        }
      }
    }
  }
}

@media (max-width: 500px) {
  #splash_page_container{
    #tsparticles{
      height: 70vh;
      z-index: 1;
    }
    #home_top{
      @include flexCenterCol;
      justify-content: flex-end;
      .header {
        margin-top: 0;
        position: absolute;
        top: 50px;
        @include flexCenterCol;
        //border: 1px solid red;
        h1 {
          letter-spacing: 10px;
          //border: 1px solid red;
          text-align: center;
          font-size: 5em;
        }
        h2{
          font-size: 0.8em;
          text-align: center;
          opacity: .5;
          padding: 0 10px;
        }
      }
    }
    #home_bottom{
      top: 70vh;
      height: 30vh;
      .buttons{
        @include flexCenterCol;
        height: 100%;
        .appear_center {
          @include animation(appear_right, 0.5s, 1);
        }
        .appear_right{
          @include animation(appear_left, 0.5s, 1);
        }
        button{
          margin: 10px 0;
          width: 100%;
          position: relative;
        }
      }
    }
  }
}
@keyframes appear_center_mobile {
  from {
    top: 200%;
  }
  to {
    top: 0px;
  }

}
