@import "mixins";
@import "variables";

.preferred_checkbox{
  @include flexCenterRow;
  z-index: 10;
  position: absolute;
  right: 0;
  width: 30px;
  height: 90%;
  padding: 5px;
  p{
    position: absolute;
    white-space: nowrap;
    top: -20px;
    font-size: 0.7em;
  }
  .checkbox{
    @include flexCenterRow;
    color: $light_gray;
    width: 70%;
    height: 70%;
    background: $light_gray;
    border: 1px solid $orange_yellow;
    cursor: pointer;
    position: absolute;
  }
  .checkbox[data-selected="true"] {
    background: $orange_yellow;
    border: 1px solid transparent;
  }
}
