@import "mixins";
@import "variables";
#quote_wizard{
  background: $light_gray;
  position: absolute;
  left: 20vw;
  width: 80vw;
  height: 100%;
  overflow-x: hidden;
  @include flexCenterCol;
  .title{
    margin-top: 10%;
  }
  .navigation_buttons{
    position: absolute;
    bottom: 10%;
    right: 17.5%;
    height: 50px;
    .button{
      height: 100%;
      width: 150px;
      margin: 0 0 0 20px;
      background: $orange_yellow;
      border: none;
      @include borderRadius(5px);
      color: $light_gray;
      font-weight: 900;
      letter-spacing: 2px;
      &:hover{
        cursor: pointer;
        opacity: 0.8;
      }
      &:focus{
        outline: none;
      }
      &:active{
        @include transform(translateY(1px));
        outline: none;
      }
    }
    #cancel_button{
      background: $light_red;
    }
    #confirm_button{
      background: $light_green;
    }
    #forward_button{
      background: $light_green;
    }
  }

}

@media (max-width: 1300px) {

  #quote_wizard{
     width: 80vw;
     left: 10vw;
     height: 100vh;
     top: 0;
     .title {
       margin-top: 15vh;
     }
     .navigation_buttons{
       position: absolute;
       bottom: 25vh;
       height: 30px;
       .button{
         width: 100px;
         font-size: 0.6em;
       }
     }
     label {
       font-size: 0.7em;
     }
     input {
       margin-top: 20px;
       font-size: 0.7em;
     }
   }


}

@media (max-width: 800px) {
  #quote_wizard{
    width: 80vw;
    left: 10vw;
    height: 100vh;
    top: 0;
    .title {
      margin-top: 20px;
      height: 25px;
      width: 100%;
      @include flexCenterCol;
      align-items: flex-start;
      font-size: 0.9em;
    }
    .navigation_buttons{
      bottom: 5vh;
      height: 30px;
      width: 80vw;
      left: 0;
      @include flexCenterRow;
      justify-content: flex-end;
      .button{
        width: 75px;
        @include borderRadius(3px);
        height: 20px;
        //font-size: 3px;

      }
    }
    label {
      font-size: 0.7em;
    }
    input {
      margin-top: 5px;
      font-size: 0.7em;
      width: 80vw;
    }
    #contact_form{
      align-content: center;
      .input_container_small{
        width: 100%;
        margin: 50px 2.5% 0 2.5%;
      }
      .input_container_medium{
        width: 100%;
        margin: 50px 2.5% 0 2.5%;
      }
      .input_container_large{
        width: 80vw;
      }
      .react-date-picker__wrapper{
        border: none;
      }
      textarea{
        width: 80vw;
      }
      #date_picker{
        width: 80vw;
        input{
          width: 93%;
        }
        #fa_date_picker_icon{
          width: 7%;
        }
      }
      .preferred_checkbox{
        width: 25px;
        height: 25px;
        position: absolute;
        right: 15px;
      }
    }
  }
}

@media (orientation: portrait) {
  #quote_wizard{
    .title {
      @include flexCenterRow;
      top: 5vh;
      text-align: center;
    }
    .navigation_buttons{
      @include flexCenterRow;
      justify-content: center;
      top: 12vh;
      .blank_button{
        width: 75px;
      }
      .button{
        margin: 0 10px;
      }
    }
  }
}

@media (orientation: landscape) {
  #quote_wizard{
    .title {
      top: -5vh;
    }
  }
}

@media (min-width: 800px) {
  #quote_wizard{
    .navigation_buttons{
      top: 80vh;
    }
  }
}

@media (max-width: 300px) {
  #quote_wizard{
    .title {
      font-size: 0.8em;
    }
    #contact_form{
      top: 10vh;
    }
    .navigation_buttons{
      top: 15vh;
    }
  }
}
