@import "mixins";
@import "variables";
.content {
  @include flexCenterRow;
  bottom: 20px;
  position: absolute;
  width: 50%;
  height: 150px;
  .content_wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    .content_box:nth-child(1) {
      left: 0;
    }
    .content_box:nth-child(2) {
      left: calc(50% - 125px);
    }
    .content_box:nth-child(3) {
      left: calc(100% - 250px);
    }
    //@include flexCenterRow;
    .content_box {
      @include animation(appear_icons, 1s, 1);
      @include borderRadius(5px);
      background: rgba(249, 218, 144, 0.75);
      color: $light_gray;
      @include flexCenterCol;
      width: 250px;
      height: 150px;
      align-items: stretch;
      position: absolute;
      bottom: 0;
      z-index: 5;

      h2 {
        text-align: center;
        width: 100%;
        margin-bottom: 20px;
      }

      .icons {
        @include flexCenterRow;
        position: relative;

        .fa_icon {
          margin: 2px;
          color: $light_gray;
        }

        .people_arrows, .speech_bubble {
          color: rgba(73, 73, 73, 0.48);
        }

        .speech_bubble {
          position: absolute;
          top: -20px;
          left: 60px;
        }
      }
    }
  }

  //.hidden{
  //  bottom: -200px;
  //}
  //
  //.display{
  //  bottom: 0;
  //}

  //background: red;
}

@keyframes appear_icons {
  from {
    bottom: -150px;
  }
  to{
    bottom: 0;
  }

}
