@import "mixins";
@import "variables";

*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  ::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  max-width: 100vw;
}

.App{
  //overflow: scroll;
  height: 100vh;
}

.rotate{
  width: 100%;
  height: 100%;
  display: none;
}

@media screen and (max-height: 500px) and (orientation: landscape) {
  #contact_container, #get_quote_container, #home_container, #services_container, .navbar_links {
    display: none;
    visibility: hidden;
    z-index: -1;
  }
  #fa_bars_menu{
    display: none;
    visibility: hidden;
  }
  .App{
    overflow: hidden;
  }
  .rotate {
    background: $orange_yellow;
    color: $light_red;
    display: block;
    z-index: 10;
    @include flexCenterRow;
    .animation{
      h1{
        position: absolute;
        top: 0;
      }
      position: relative;
      width: 100%;
      height: 300px;
      @include flexCenterRow;
      #rotate_mobile{
        @include transform(rotate(-90deg));
        @include animation(rotate_mobile, 4s, infinite);
        position: absolute;
      }
      #rotate_mobile_sync{
        @include transform(scale(1));
        @include animation(rotate_mobile_sync, 4s, infinite);
        position: absolute;
      }
    }
  }
}

@keyframes rotate_mobile {
  0%{
    @include transform(rotate(-90deg));
  }
  10%{
    @include transform(rotate(-90deg));
  }
  20%{
    @include transform(rotate(0));
  }
  30%{
    @include transform(rotate(0));
  }
  40%{
    @include transform(rotate(-90deg));

  }
  50%{
    @include transform(rotate(-90deg));

  }
  60%{
    @include transform(rotate(-90deg));

  }
  70%{
    @include transform(rotate(0));

  }
  80%{
    @include transform(rotate(0));

  }
  90%{
    @include transform(rotate(-90deg));

  }
  100%{
    @include transform(rotate(-90deg));

  }
}

@keyframes rotate_mobile_sync {
  0%{
    @include transform(rotate(-90deg) scale(1));
  }
  10%{
    @include transform(rotate(-90deg) scale(1));
  }
  20%{
    @include transform(rotate(0) scale(1));
  }
  30%{
    @include transform(rotate(0) scale(1));
  }
  40%{
    @include transform(rotate(-90deg) scale(1));

  }
  50%{
    @include transform(rotate(-90deg) scale(1));

  }
  60%{
    @include transform(rotate(-90deg) scale(1));

  }
  70%{
    @include transform(rotate(0) scale(1));

  }
  80%{
    @include transform(rotate(0) scale(1));

  }
  90%{
    @include transform(rotate(-90deg) scale(1));

  }
  100%{
    @include transform(rotate(-90deg) scale(1));

  }
}
