* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
  max-width: 100vw;
}
* ::-webkit-scrollbar {
  display: none;
}

.App {
  height: 100vh;
}

.rotate {
  width: 100%;
  height: 100%;
  display: none;
}

@media screen and (max-height: 500px) and (orientation: landscape) {
  #fa_bars_menu {
    display: none;
  }

  .App {
    overflow: hidden;
  }

  .rotate {
    background: #f9da90;
    color: #494949;
    display: block;
    z-index: 10;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .rotate h1 {
    position: absolute;
    top: 0;
  }
  .rotate .animation {
    position: relative;
    border: 1px solid red;
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .rotate .animation #rotate_mobile {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-animation-name: rotate_mobile;
    -moz-animation-name: rotate_mobile;
    -o-animation-name: rotate_mobile;
    animation-name: rotate_mobile;
    -webkit-animation-duration: 4s;
    -moz-animation-duration: 4s;
    -o-animation-duration: 4s;
    animation-duration: 4s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    position: absolute;
  }
  .rotate .animation #rotate_mobile_sync {
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -o-transform: scale(2);
    transform: scale(2);
    -webkit-animation-name: rotate_mobile_sync;
    -moz-animation-name: rotate_mobile_sync;
    -o-animation-name: rotate_mobile_sync;
    animation-name: rotate_mobile_sync;
    -webkit-animation-duration: 4s;
    -moz-animation-duration: 4s;
    -o-animation-duration: 4s;
    animation-duration: 4s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    position: absolute;
  }
}
@keyframes rotate_mobile {
  0% {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
  10% {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
  20% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  30% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  40% {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
  50% {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
  60% {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
  70% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  80% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  90% {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
  100% {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
}
@keyframes rotate_mobile_sync {
  0% {
    -webkit-transform: rotate(-90deg) scale(2);
    -moz-transform: rotate(-90deg) scale(2);
    -ms-transform: rotate(-90deg) scale(2);
    -o-transform: rotate(-90deg) scale(2);
    transform: rotate(-90deg) scale(2);
  }
  10% {
    -webkit-transform: rotate(-90deg) scale(2);
    -moz-transform: rotate(-90deg) scale(2);
    -ms-transform: rotate(-90deg) scale(2);
    -o-transform: rotate(-90deg) scale(2);
    transform: rotate(-90deg) scale(2);
  }
  20% {
    -webkit-transform: rotate(0) scale(2);
    -moz-transform: rotate(0) scale(2);
    -ms-transform: rotate(0) scale(2);
    -o-transform: rotate(0) scale(2);
    transform: rotate(0) scale(2);
  }
  30% {
    -webkit-transform: rotate(0) scale(2);
    -moz-transform: rotate(0) scale(2);
    -ms-transform: rotate(0) scale(2);
    -o-transform: rotate(0) scale(2);
    transform: rotate(0) scale(2);
  }
  40% {
    -webkit-transform: rotate(-90deg) scale(2);
    -moz-transform: rotate(-90deg) scale(2);
    -ms-transform: rotate(-90deg) scale(2);
    -o-transform: rotate(-90deg) scale(2);
    transform: rotate(-90deg) scale(2);
  }
  50% {
    -webkit-transform: rotate(-90deg) scale(2);
    -moz-transform: rotate(-90deg) scale(2);
    -ms-transform: rotate(-90deg) scale(2);
    -o-transform: rotate(-90deg) scale(2);
    transform: rotate(-90deg) scale(2);
  }
  60% {
    -webkit-transform: rotate(-90deg) scale(2);
    -moz-transform: rotate(-90deg) scale(2);
    -ms-transform: rotate(-90deg) scale(2);
    -o-transform: rotate(-90deg) scale(2);
    transform: rotate(-90deg) scale(2);
  }
  70% {
    -webkit-transform: rotate(0) scale(2);
    -moz-transform: rotate(0) scale(2);
    -ms-transform: rotate(0) scale(2);
    -o-transform: rotate(0) scale(2);
    transform: rotate(0) scale(2);
  }
  80% {
    -webkit-transform: rotate(0) scale(2);
    -moz-transform: rotate(0) scale(2);
    -ms-transform: rotate(0) scale(2);
    -o-transform: rotate(0) scale(2);
    transform: rotate(0) scale(2);
  }
  90% {
    -webkit-transform: rotate(-90deg) scale(2);
    -moz-transform: rotate(-90deg) scale(2);
    -ms-transform: rotate(-90deg) scale(2);
    -o-transform: rotate(-90deg) scale(2);
    transform: rotate(-90deg) scale(2);
  }
  100% {
    -webkit-transform: rotate(-90deg) scale(2);
    -moz-transform: rotate(-90deg) scale(2);
    -ms-transform: rotate(-90deg) scale(2);
    -o-transform: rotate(-90deg) scale(2);
    transform: rotate(-90deg) scale(2);
  }
}

/*# sourceMappingURL=SHIG_App_Style.css.map */
