@import "mixins";
@import "variables";
#quote_wizard{
  background: $light_gray;
  position: absolute;
  left: 20vw;
  width: 80vw;
  height: 100%;
  overflow-x: hidden;
  @include flexCenterCol;
  .title{
    margin-top: 10%;
  }
  .navigation_buttons{
    position: absolute;
    bottom: 10%;
    right: 17.5%;
    height: 50px;
    .button{
      height: 100%;
      width: 150px;
      margin: 0 0 0 20px;
      background: $orange_yellow;
      border: none;
      @include borderRadius(5px);
      color: $light_gray;
      font-weight: 900;
      letter-spacing: 2px;
      &:hover{
        cursor: pointer;
        opacity: 0.8;
      }
      &:focus{
        outline: none;
      }
      &:active{
        @include transform(translateY(1px));
        outline: none;
      }
    }
    #cancel_button{
      background: $light_red;
    }
    #confirm_button{
      background: $light_green;
    }
    #forward_button{
      background: $light_green;
    }
  }

}

@media (max-width: 1300px) {

  #quote_wizard{
    width: 80vw;
    left: 10vw;
    height: 100vh;
    top: 0;
    .title {
      margin-top: 25vh;
    }
    .navigation_buttons{
      bottom: 25vh;
      height: 30px;
      .button{
        width: 100px;
        font-size: 0.6em;
      }
    }
    label {
      font-size: 0.7em;
    }
    input {
      margin-top: 20px;
      font-size: 0.7em;
    }
  }


}

@media (max-width: 999px) {

}
