@import "mixins";
@import "variables";
.content {
  @include animation(appear_icons, 2s, 1);
  @include flexCenterRow;
  bottom: 20px;
  position: absolute;
  .content_box {
    @include borderRadius(5px);
    background: $orange_yellow;
    color: $light_gray;
    margin: 20px;
    @include flexCenterCol;
    width: 250px;
    height: 150px;
    align-items: stretch;

    h2 {
      text-align: center;
      width: 100%;
      margin-bottom: 20px;
    }

    .icons {
      @include flexCenterRow;
      position: relative;

      .fa_icon {
        margin: 2px;
        color: $light_gray;
      }
      .people_arrows, .speech_bubble{
        color: rgba(73, 73, 73, 0.48);
      }
      .speech_bubble{
        position: absolute;
        top: -20px;
        left: 60px;
      }
    }
  }

  .hidden{
    visibility: hidden;
  }

  .display{
    visibility: visible;
  }

  //background: red;
}

@keyframes appear_icons {
  from {
    visibility: hidden;
    bottom: -250px;
  }
  to{
    visibility: visible;
    bottom: 20px;
  }

}
