@import "mixins";
@import "variables";
.service_component{
  position: relative;
  height: 250px;
  width: 80%;
  @include flexCenterRow;
  justify-content: flex-start;
  margin: 20px 0;
  .animatable_left, .animatable_right{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    @include flexCenterRow;
  }
  .animatable_left{
    //@include animation(appear_service_from_left, 1s, 1);
  }
  .animatable_right.component_visible{
    @include animation(appear_service_from_right, 1s, 1);
    flex-direction: row-reverse;
  }
  .animatable_left.component_visible{
    @include animation(appear_service_from_left, 1s, 1);
  }
  .animatable_right.component_hidden{
    left: -200vh
  }
  .animatable_left.component_hidden{
    left: 200vh;
  }
  a{
    text-decoration: none;
  }
  .content_box {
    height: 250px;
    width: 400px;
    margin-right: 10px;
    &:active{
      @include transform(translateY(1px));
    }
    .fa_icon{
      @include transform(scale(1.5));
      margin: 20px;
    }
    .speech_bubble{
      margin: 10px 0 0 50px;
    }
  }
  .text_container{
    @include flexRow;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    position: relative;
    background: rgba(255,255,255,0.1);
    @include borderRadius(5px);
    .service_description{
      height: 100%;
      padding: 20px;
      @include flexCenterCol;
      text-align: center;
      h2{
        color: $light_green;
        padding-bottom: 2px;
        border-bottom: 3px solid rgba(255,255,255,0.1);
        width: 100%;
        font-weight: 700;
        letter-spacing: 2px;
        padding-left: 20px;
      }
      h3{
        top: 40px;
        left: 20px;
        margin-top: 10px;
        opacity: 0.6;
        color: $orange_yellow;
        font-weight: 700;
        letter-spacing: 2px;
        width: 100%;
      }
      .description{
        height: calc(100% - 50px) ;
        @include flexCenterCol;
        align-items: flex-start;
        justify-content: space-evenly;
        p{
          color: $orange_yellow;
          font-weight: 700;
          width: 100%;
        }
      }

    }
  }
}

@keyframes appear_service_from_left {
  from {
    left: -100vw;
  }
  to {
    left: 0;
  }
}


@keyframes appear_service_from_right {
  from {
    left: 100vw;
  }
  to {
    left: 0;
  }
}

@media (max-width: 1500px) {
  .service_component {
    height: 300px;
    .content_box{
      height: 300px;
    }
    .text_container {
      .service_description {
        h2 {
          font-size: 1.1em;
        }
        h3{
          font-size: 1em;
          top: 25px;
        }
        p{
          font-size: 0.9em;
          font-weight: 600;
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .service_component {
    .text_container {
      .service_description {
        align-items: center;
        text-align: center;
        h2 {
          font-size: 1.1em;
          text-align: center;
          padding-bottom: 5px;
        }
        h3{
          text-align: center;
          font-size: 1em;
          top: 60px;
        }
        p{
          font-size: 0.9em;
          font-weight: 600;
          text-align: center;
        }
      }
      #service_description_1{
        h2{
          text-align: center;
        }
        h3{
          text-align: center;
          width: 100%;
          left: 0;
        }
        .description {
          align-items: flex-end;
          p {
            text-align: center;
          }
        }
      }
    }
  }
}
@media (max-width: 800px) {
  .service_component{
    margin: 10px 0;
    height: auto;
    width: 100%;
    padding: 5vw 5vw 0 5vw;
    .animatable_right.component_visible{
      position: relative;
      @include flexCenterCol;
      justify-content: space-evenly;
      height: auto;
      margin: 0;
    }
    .animatable_left.component_visible{
      position: relative;
      @include flexCenterCol;
      justify-content: space-evenly;
      height: auto;
      margin: 0;
    }
    .content_box{
      position: absolute;
      left: 0;
      margin: 0;
      width: calc(50vw);
      height: 200px;
    }
    .text_container{
      margin-top: 200px;
        .service_description {
          align-items: center;
          text-align: center;
          h2, h3, p{
            margin-bottom: 10px;
            font-size: 1.1em;
          }
          h2 {
            text-align: center;
            padding-bottom: 5px;
          }
          h3{
            text-align: center;
            top: 60px;
          }
          p{
            margin: 10px 0;
            font-weight: 600;
            text-align: center;
          }
        }
    }
  }
}

@media (max-width: 700px) {
  .service_component {
    margin: 10px 0;
    height: auto;
    width: 100%;
    padding: 0 5vw;
    .content_box{
      position: relative;
      margin: 0;
      width: calc(100vw - 10vw);
      height: 200px;
    }
    .text_container {
      margin-top: 10px;
      height: auto;
      .service_description {
        align-items: center;
        text-align: center;
        h2, h3, p{
          margin-bottom: 10px;
        }
        h2 {
          text-align: center;
          padding-bottom: 5px;
          width: 100%;
          font-size: 1em;
        }
        h3{
          text-align: center;
          top: 60px;
          font-size: 0.9em;
        }
        p{
          margin: 10px 0;
          font-weight: 600;
          text-align: center;
          font-size: 0.8em;
        }
      }
      #service_description_1{
        h2{
          text-align: center;
        }
        h3{
          text-align: center;
          width: 100%;
          left: 0;
        }
        .description {
          align-items: flex-end;
          p {
            text-align: center;
          }
        }
      }
    }
  }
}
