@import "mixins";
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import "variables";
#contact_form_container{
  width: 80vw;
  height: 100vh;
  position: absolute;
  left: 20vw;
  @include flexCenterRow;
  .lets_chat{
    position: absolute;
    left: 5vw;
    width: 30vw;
    height: 50%;
    h1 {
      text-align: left;
      font-family: 'Dancing Script', cursive;
      font-size: 9em;
      color: $orange_yellow;
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke-width: 2px;
      -webkit-text-stroke-color: $orange_yellow;
      font-weight: 900;
    }
    h2{
      margin-left: 150px;
      font-size: 50px;
      color: $orange_yellow;
      opacity: 0.8;
    }
  }
  #contact_form {
    @include flexCenterRowWrap;
    position: absolute;
    align-content: center;
    width: 50vw;
    left: 30vw;
    height: 80%;
    input[type="submit"] {
      -webkit-appearance: none;
      width: 550px;
      margin-top: 20px;
      height: 50px;
      background: $orange_yellow;
      border: none;
      cursor: pointer;
      @include borderRadius(5px);
      color: $light_gray;
      letter-spacing: 2px;
      font-weight: 900;
      &:active{
        outline: none;
        @include transform(translateY(1px));
      }
      &:focus{
        outline: none;
      }
    }
  }
}

@media (max-width: 1300px) {

  #contact_form_container{
    width: 100vw;
    left: 0;
    .lets_chat{
      left: 0;
      width: 100vw;
      height: 20vh;
      top: 50px;
      @include flexCenterCol;
      h1{
        margin-left: -300px;
        //margin-top: -200px;
        font-size: 7em;
      }
      h2 {
        margin-left: 250px;
        white-space: nowrap;
      }
    }
    #contact_form{
      left: 0;
      top: 15vh;
      width: 100vw;
    }
  }

}

@media (max-width: 600px) {
  #contact_form_container{
    .lets_chat{
      top: 30px;
      h1{
        font-size: 3em;
        margin-left: -25vw;
      }
      h2{
        font-size: 1.5em;
        margin-left: 50px;
      }
    }
    #contact_form{
      top: 15vh;
      //border: 1px solid red;
      .text_input_container{
        textarea{
          margin: 15px 0 0 0;
        }
        margin-top: 20px;
      }
      .input_container_small{
        width: 550px;
      }
      input[type="submit"] {
        width: calc(100vw - 50px);
        -webkit-appearance: none;
      }
    }
  }
}

@media screen and (orientation: landscape) and (max-height: 1024px) {
  #contact_form_container{
    height: 100vh;
    .lets_chat{
      top: 5vh;
      h2{
        white-space: nowrap;
      }
    }
    #contact_form{
      top: 20vh;
      font-size: 0.8em;
      .text_input_container{
        margin: 10px 25px;
      }
    }
  }
}

@media screen and (max-width: 1100px) and (max-height: 900px) and (orientation: landscape) {
  #contact_form_container{
    #contact_form{
      top: 25vh;
    }
  }
}

@media screen and (max-width: 450px) and (max-height: 670px){
  #contact_form_container{
    .lets_chat{
      left: -20px;
      top: -10px;
      font-size: 0.8em;
      h1 {
        top: 0;
      }
    }
    #contact_form {
      top: 10vh;
      .text_input_container{
        input, label{
          font-size: 0.7em;
        }
      }
      .input_container_large{
        label{
          margin: 0;
        }
        textarea{
          margin: 10px 0;
        }
        margin-top: 25px;
        //textarea{
        //  margin-top: 20px;
        //}
      }
      input[type="submit"] {
        height: 25px;
        @include borderRadius(2px);
        font-size: 0.8em;
        letter-spacing: 3px;
      }
    }
  }
}

@media screen and (max-width: 350px) and (max-height: 600px){
  #contact_form_container{
    .lets_chat{
      display: none;
    }
  }
}
