@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
#contact_form_container {
  width: 80vw;
  height: 100vh;
  position: absolute;
  left: 20vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#contact_form_container .lets_chat {
  position: absolute;
  left: 5vw;
  width: 30vw;
  height: 50%;
}
#contact_form_container .lets_chat h1 {
  text-align: left;
  font-family: "Dancing Script", cursive;
  font-size: 9em;
  color: #f9da90;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #f9da90;
  font-weight: 900;
}
#contact_form_container .lets_chat h2 {
  margin-left: 150px;
  font-size: 50px;
  color: #f9da90;
  opacity: 0.8;
}
#contact_form_container #contact_form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  position: absolute;
  align-content: center;
  width: 50vw;
  left: 30vw;
  height: 80%;
}
#contact_form_container #contact_form input[type=submit] {
  -webkit-appearance: none;
  width: 550px;
  margin-top: 20px;
  height: 50px;
  background: #f9da90;
  border: none;
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #494949;
  letter-spacing: 2px;
  font-weight: 900;
}
#contact_form_container #contact_form input[type=submit]:active {
  outline: none;
  -webkit-transform: translateY(1px);
  -moz-transform: translateY(1px);
  -ms-transform: translateY(1px);
  -o-transform: translateY(1px);
  transform: translateY(1px);
}
#contact_form_container #contact_form input[type=submit]:focus {
  outline: none;
}

@media (max-width: 1300px) {
  #contact_form_container {
    width: 100vw;
    left: 0;
  }
  #contact_form_container .lets_chat {
    left: 0;
    width: 100vw;
    height: 20vh;
    top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #contact_form_container .lets_chat h1 {
    margin-left: -300px;
    font-size: 7em;
  }
  #contact_form_container .lets_chat h2 {
    margin-left: 250px;
    white-space: nowrap;
  }
  #contact_form_container #contact_form {
    left: 0;
    top: 15vh;
    width: 100vw;
  }
}
@media (max-width: 800px) {
  #contact_form_container .lets_chat {
    top: 30px;
  }
  #contact_form_container .lets_chat h1 {
    font-size: 3em;
    margin-left: -25vw;
  }
  #contact_form_container .lets_chat h2 {
    font-size: 1.5em;
    margin-left: 50px;
  }
  #contact_form_container #contact_form {
    top: 15vh;
  }
  #contact_form_container #contact_form .text_input_container {
    margin-top: 20px;
  }
  #contact_form_container #contact_form .text_input_container textarea {
    margin: 15px 0 0 0;
  }
  #contact_form_container #contact_form .input_container_small {
    width: 550px;
  }
  #contact_form_container #contact_form input[type=submit] {
    width: calc(100vw - 50px);
    -webkit-appearance: none;
  }
}

/*# sourceMappingURL=SHIG_ContactForm_Style.css.map */
