@import "mixins";
@import "variables";
#coming_soon_container{
  @include flexCenterCol;
  width: 100vw;
  height: 100vh;
  background: $light_gray;
  .shig_io{
    padding: 25px 0 10px 0;
    color: $light_blue;
  }

  .coming_soon{
    padding: 25px 0 10px 0;
    color: $orange_yellow;
  }
}
