@import "../mixins";
@import "../variables";

.months_container {
  width: 100%;
  height: 100%;
  top: 0;
  background: $light_gray;
  z-index: 10;
  position: absolute;
  .months {
    @include flexCenterCol;
    justify-content: flex-start;
    position: absolute;
    overflow: scroll;
    width: 100%;
    height: 95%;
    top: 2.5%;
    .month {
      @include transition(0.3s);
      z-index: 9;
      cursor: pointer;
      height: calc(100% / 12);
      margin: 10px 0;
      width: 100%;
      @include flexCenterCol;
      &:hover{
        background: rgba(255,255,255,0.1);
      }
    }

    .month[data-selected="true"] {
      @include transform(scale(1.5));
    }
  }
}
